@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  
    --card: 324 70% 96%;
    --card-foreground: 324 30.4% 12.1%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
  
    --primary: 324 100% 46%;
    --primary-foreground: 210 20% 98%;
  
    --secondary: 324 89% 78%;
    --secondary-foreground: 220.9 39.3% 11%;
  
    --muted: 324 40% 90%;
    --muted-foreground: 324 23% 10%;
  
    --accent: 324 100% 74%;
    --accent-foreground: 0 0% 100%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
  
    --border:324 13% 91%;
    --input:324 13% 91%;
    --ring:324 83.3% 47.8%;
    --radius: 0.5rem;
  }
   
  .dark {
    --background:224 71.4% 4.1%;
    --foreground:210 20% 98%;
  
    --card: 324 70% 20%;
    --card-foreground: 324 28.4% 92.1%;
  
    --popover:224 71.4% 4.1%;
    --popover-foreground:210 20% 98%;
  
    --primary: 324 100% 50%;
    --primary-foreground: 210 20% 98%;
  
    --secondary:324 68.9% 16.9%;
    --secondary-foreground:210 20% 98%;
  
    --muted: 324 60% 20%;
    --muted-foreground: 324 12% 85%;
  
    --accent: 324 100% 25%;
    --accent-foreground: 0 0% 100%;
  
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:210 20% 98%;
  
    --border:324 75% 12%;
    --input:324 13% 91%;
    --ring:324 83.3% 47.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}